{% extends 'base.html' %}

{% block title %}
    Login to an Account
{% endblock %}

{% block content %}
    <h1>Homepage</h1>

    <form method="get" action="" class="mb-4">
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Search users here">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>

    {% if user_emails %}
        <h2>Search Results</h2>
        <div class="overflow-auto mb-4" style="max-height: 200px;">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Email Address</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for email in user_emails %}
                    <tr>
                        <td>{{ email }}</td>
                        <td>
                            <button onclick="openSendMoneyModal('{{ email }}')" class="btn btn-primary btn-sm">Send Money</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% if request.GET.email %}
            <p>No results found for "{{ request.GET.email }}" ></p>
        {% endif %}
    {% endif %}

    <div class="modal" id="sendMoneyModal" tabindex="-1" aria-labelledby="sendMoneyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="sendMoneyModalLabel">Send Money</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="sendMoneyForm" action="{% url 'transfer_money' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="recipient_email" id="recipientEmail">
                        <div class="form-group">
                            <label for="amount">Amount (£):</label>
                            <input type="number" class="form-control" id="amount" name="amount" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        function openSendMoneyModal(email) {
            document.getElementById('recipientEmail').value = email;
            let modal = new bootstrap.Modal(document.getElementById('sendMoneyModal'));
            modal.show();
        }
    </script>


{% endblock %}
