webapps2024/.idea/misc.xml
webapps2024/.idea/vcs.xml
webapps2024/.idea/workspace.xml
webapps2024/register/__pycache__/__init__.cpython-312.pyc
webapps2024/register/__pycache__/admin.cpython-312.pyc
webapps2024/register/__pycache__/apps.cpython-312.pyc
webapps2024/register/__pycache__/models.cpython-312.pyc
webapps2024/register/__pycache__/views.cpython-312.pyc
webapps2024/register/migrations/__pycache__/__init__.cpython-312.pyc
webapps2024/webapps2024/__pycache__/__init__.cpython-312.pyc
webapps2024/webapps2024/__pycache__/settings.cpython-312.pyc
webapps2024/webapps2024/__pycache__/urls.cpython-312.pyc
webapps2024/webapps2024/__pycache__/wsgi.cpython-312.pyc
